@charset "utf-8";
/* ------ GENERAL --------------- */
body{background-attachment : fixed;
	background-image : url('../images/fond_principal.jpg');
	background-position : center top;
	padding : 0;
	font-family: Arial, Helvetica, FreeSans, sans-serif;
}

#centrage{
	width : 995px;
	margin : 0 auto;
}

#content{
	position :relative;
clear : right;
margin : 75px 5px 0;
}

.flleft {float:left;}
.flright {float:right;}
.clear { height:0; line-height:0; margin:0; padding:0; font-size:0; }
a, button{outline : 0; cursor : pointer; clear : both; color : #069;}
a, a:hover, a:link, a:active, a:visited{color : #069;}
/* ------------FIN GENERAL ------------------a*/
/* -----------HEADER ------------------ */

#header{
	margin : 5px 15px 0 10px;	
}
#connexion { float : right; border-left : 1px solid white; padding-left : 5px;}
#inscription{color : white; font-weight : bold; text-decoration : underline;margin :3px 380px -20px 0;display : block; text-align : right;}
#password, #identifiant{
	width : 125px;
	height : 20px;
	border : none;
	background : transparent url('../images/fond_blancTransparent.png');
	text-indent : 5px;
	color : #666666;
	font-size : 12px;
	margin : 0 3px;
}
#btn_connexion{
	width : 92px;
	height : 22px;
	border : none;
	background : transparent url('../images/btn_connexion.png') no-repeat left top;
	color : #666666;
	margin-left : 3px;
}
#btn_connexion:hover{
	background-position : left center;
	cursor:pointer;
}
#btn_connexion:active{
	background-position : left bottom;
	color : #ffffff;
}
#connexion, #recherche{
	text-align : right;
	}
#header img{
	clear : both;
	margin-left : 20px;
}
#header img.right{
	float : right;
	margin : 16px 10px 0 0;
	}
/* FIN HEADER*/	
/* --------------- MENU PRINCIPAL + RECHERCHE ------------------------- */
#menu_main{	position : relative; }
	
#recherche{
	position : absolute;
	top : 0;
	right : 15px;
	z-index : 1000;
}

#btn_recherche{
	width : 57px;
	height : 38px;
	border : none;
	margin : 0 0 0 6px ;
	cursor : pointer;
	background : transparent url('../images/btn_recherche.png') no-repeat left top;
	text-indent : -9999px;
}
#btn_recherche:hover{
	background-position : left center;
}
#btn_recherche:active{
	background-position : left bottom;
}
#recherche label{
	display : block;
	float : left;
	width : 260px;
	height : 42px ;
	margin-top : 0;
	background : transparent url('../images/fond_champRecherche.png') no-repeat left top;
	text-align : left;
	
}
#champ_recherche{
	border : none;
	background-color : transparent;
	margin :9px 0 0 75px;	
	color : #666666;
}

/*----------------- MENU PRINCIPAL ------------------------------------*/

#ul_principal {
	position : relative;
	margin : 2px 10px;	
	width: 713px;
	height : 36px;
}

#ul_principal li {
	
	display:inline;
	float:left;
}

#ul_principal li a {
	display:inline-block;
	height : 36px;
	text-transform : uppercase;
	line-height : 36px;
	vertical-align: middle;
	font-size : 16px;
	color : #fff;
	position:relative;
}

#ul_principal li ul {
	width : 995px;
	position : absolute;
	font-size : 14px;
	top: 36px;
	left:0;
}
#ul_principal li ul li a{font-size : 15px;}
#ul_principal li ul li:hover{margin-top : -2px; font-weight : bold; text-shadow : 0 0 5px #fff ;  }
#menu_main .jeux {
	background : transparent url('../images/fond_blancTransparent.png') no-repeat 421px 2px ;
}
#menu_main .communaute {
	background : transparent url('../images/fond_blancTransparent.png') 287px 2px no-repeat;
}
#menu_main .joueurs {
	background : transparent url('../images/fond_blancTransparent.png') 192px 2px no-repeat;
}
#menu_main .enquete {
	background : transparent url('../images/fond_blancTransparent.png') 96px 2px no-repeat;
}
#menu_main .krysalis {
	background : transparent url('../images/fond_blancTransparent.png') 0px 2px no-repeat;
}
#ul_principal ul{
	margin : 0;}
#ul_principal ul.hidden{
	display : none;	
}
#ul_principal ul.visible{
	display : inline;
}
#ul_principal li{
	display : inline;
	padding : 0 10px;
}


/* FIN MENU PRINCIPAL + RECHERCHE */
/* ------------ CARROUSEL--------------------------- */



#carrousel{
	position :relative;
	width : 995px;
	height : 362px;
	margin-left : -9px;
	background : url('../images/carrousel/bg_carrousel.png') no-repeat top left;
	
}
.slide{
	position :absolute;
	top : 19px;
	left : 19px;
	width : 960px;
	height : 326px;
}

.title{
	position :absolute;
	bottom : 81px;
	left : 0px;
	height : 67px;
	width : 925px;
	margin : 0;
	padding : 14px 0 0 35px;
	background-image : url('../images/carrousel/bg_titre.png');
	color : white;
	
}
.navigation{
	position :absolute;
	top : 18px;
	right : 15px;
}
.navigation h3{
	color : white;
	margin : 0;
	width : 216px;
	height : 82px;
	line-height : 82px;
	vertical-align : middle;
	padding-left : 23px;
	background : url('../images/carrousel/btn_pagHaut.png') no-repeat right top;
}
.navigation h3.bas{
	background : url('../images/carrousel/btn_pagBas.png') no-repeat right top;
}

.navigation h3:hover, .navigation .active:hover{
	position : absolute;
	z-index : 50;
	background-position : 0 -215px;
	height : 133px;
	line-height : 92px; /* centrer le texte : largeur de l'onglet(92) + 5 px de margin top*/
	font-size : 1.8em;
	width : 293px;
	margin-left : -37px;
	cursor : pointer;
}
.navigation h3.active{
	background-position : right bottom;
}

.navigation h3:active{
	position : absolute;
	z-index : 50;
	background-position : 0 -82px;
	margin-top : 10px;
	margin-left : -37px;
	/*margin-top : -11px;*/
}


#resume{
	margin-top : -81px;
	padding : 111px 69px 10px 69px;
	background : url('../images/bg_resumeHome.png') repeat-y center top;
	}
	
#resume a, #resume:visited{color : #369; text-decoration : underline;}
/*-------------- FIN DU CARROUSEL -----------------*/	
/*------------  MENU DE PAGE ---------------------*/
#menu_content{ position : relative;float : left;}
#menu{margin : 0; font-size : 0.9em;}
#menu h4{margin : 0; font-weight : normal;line-height : 38px;}

#menu h4 a{
	display :block;
	width : 201px;
	height : 48px;
	vertical-align : middle;
	text-indent : 30px;
	color : #666;
	background : url('../images/bg_menuContent.png') no-repeat left center;
}
#menu h4 a{cursor : pointer;}
#menu ul{
	line-height : 28px;
	margin :0 0 0 10px ; }
#menu ul a{
	display :block;
	width : inherit;
	height : 32px;
	margin-top : -8px;
	vertical-align : middle;
	text-indent : 32px;
	color : #fff;
	
	background : url('../images/puce_catContent.png') no-repeat left center;
}
#menu ul li:first-child a{
	margin-top : 0px;
}
#menu ul li:last-child a{
	margin-bottom : 10px;
}
a.decal_categ{
	margin-left : 20px;
}
#menu a:hover{
	background-position : left top;
	}
#menu ul a:hover{
	text-shadow : 2px 2px 4px #3e3e3e;
}
#menu a:active{
	color : #fff;
	background-position : left bottom;
	}

#reseaux_sociaux{clear : left;
	background-color : red;
margin : 0 0 0 10px;;
position : relative;}

#facebook, #twitter, #rss{
	display : inline;
}
#facebook a, #twitter a, #rss a{
	display : inline-block;
	width : 62px;
	height : 62px;
	text-indent : -999px;
	position : absolute;
}
#facebook a{background : url('../images/puce_facebook.png') no-repeat left top;

} 
#twitter a{background : url('../images/puce_twitter.png') no-repeat left top;
top : 44px;
left : 42px;

}
#rss a{background : url('../images/puce_rss.png') no-repeat left top;
left : 86px;
}

 #facebook a:hover, #twitter a:hover, #rss a:hover{
	background-position : left center;
}
#facebook a:active, #twitter a:active, #rss a:active{
	background-position : left bottom;
}

/*------------ FIN MENU DE PAGE ---------------------*/
/* ---------------PAGE --------------------------------*/

#content h2, #page, #fin_page{float : right;}
#content h2{ position : relative;
	margin : 0 0 -5px;
	width : 780px ;
	height : 65px;
	line-height : 50px;
	text-transform : uppercase;
	color : #069;
	text-indent : 25px;
	background : url('../images/bg_h3Page.png') no-repeat left top;	
}
#page{
	position : relative;
	width : 750px;
	padding :0 0 10px 30px;
	background : url('../images/bg_page.png') repeat-y left top;
}	
#page a{
	color : #069;
	text-decoration : underline;
	}
#page p input{
	margin-left : 0;}
#page p a{
	margin-left : 5px;}
#fin_page{
	width : 780px;
	height : 20px;
	background : url('../images/bg_finPage.png') no-repeat left top;
	}
#profil, #contact{
	position : relative;
	width : 97%;
	/*background-color : red;*/
}	
#profil p{ text-align : right;
color : #069;
text-decoration : underline;}	

#modif_profil a{
	display:inline-block;
}
#modif_profil img{
	border : 2px solid #069;
	}
#contact_form{position : relative;border-left : 1px solid #069; width : 78% ;float : right;margin-top : 10px;}


#modif_profil label, #contact_form label{
	clear : right;
	position : relative;
	display : block;
	width : 75%;
	height : 20px;
	line-height : 20px;
	vertical-align : middle;
	margin : 6px 0;
}
#contact_form label{width : 50%;}

#contact_form label, #contact_form p, #contact_form div {margin-left : 30px;}

#avatar, #contact address{
	float : left;
	padding : 10px 35px 0 10px;
	text-align : center;}
#contact address{color : #069;}
#avatar a{
	display : block;
}
#infos{
	border-left : 1px solid #069;
	padding :10px 0 0 30px ;
}

#infos label input, #contact_form label input{
	width : 200px;
	float : right;
	border :1px solid #ccc;
	margin-left : 3px;
}
#infos p, #contact_form p{
	width : 75% ;
	margin-top : 6px;
	text-align : left;
	color : #000;
text-decoration : none;
}
#contact_form p{margin-top : 10px;margin-bottom : 6px;}
#infos p:last-child{
	margin-left : 3px;
}
#infos  p label, #contact_form  p label{
	display : inline-block ;
	width : auto ;
	margin : 0;
	vertical-align : middle ;
	
}
#infos select{border : 1px solid #ccc;}
#infos #birthday{ margin-left : 12%;}
#infos  p label.radio{
	padding :0  3px 0 34%;
}
#infos p label input, #contact_form p label input{ 
clear : both;
width : auto;
}
#contact_form input.btn{clear : both;}
#infos input.btn, #contact_form input.btn{
	width : 114px;
	height : 30px;
	margin-right : 26px;
	border : none;
	background : transparent url('../images/btn_form.png') no-repeat left top;
	cursor : pointer;
	color : #069;
	}
#infos input.btn:hover, #contact_form input.btn:hover{background-position : left center;}
#infos input.btn:active, #contact_form input.btn:active{
	background-position : left bottom;
	color : #fff;}
#contact_form #champ_com{width : auto; height : auto;}	

#contact_form textarea{clear : both;width : 450px; height : 140px; border : 1px solid #ccc;}

/************************************************/
/*        PAGE PUBLICATIONS                     */
/************************************************/
#articles_publies{margin-top : 10px; clear : both}
#page h4{font-variant : small-caps;font-size: 1.3em;;}

.article{position : relative;clear : both;}
.conteneur_img{
	position : relative;
	width : 263px; 
	min-height : 138px;
	background : url('../images/bg_publiImg.png') no-repeat left top;
	float : left;}
.publi_img{padding : 5px 0 0 5px;
width : 250px;
height : 125px;
overflow: hidden;}

.resume_article{float : right; width : 60%;margin :0 20px 10px 0;}
.resume_article h5{margin : 0; font-size : 1.1em;}
.resume_article p{margin : 0.25em 0;}

/******************************************************/
/*             PAGES KRYSALIS                         */
/******************************************************/

#content h2.krysalis{ background : none; height : auto; line-height : normal; margin : 0 0 40px 30px; color : white; text-indent : 0; width : auto; float : none; font-weight : normal;}

#content p.krysalis{width : 779px; margin : 0 auto; color : white;line-height : 21px;}
#content a.suivant{
	display : block;
	float : right;
	background : url('../images/bg_krysalisSuivant.png') no-repeat 27px 0;
	width : 108px;
	padding-top : 117px;
	vertical-align : bottom;
	text-align : center;
	color : white;}

/*------------------- FIN PAGE-----------------------------------*/

/*---------------- MODULE ENQUETE -------------------------------*/
#conteneur_jeu{
width : 992px;
height : 503px;
background : url('../images/module_enquete/bg_conteneurJeu.png') no-repeat left top;
position : relative;
	}
/*******************************************************************/
/*                      PAGE PERSONNAGES                           */
/*******************************************************************/
#conteneur-jeu{position : relative;overflow : hidden;}
#infos_joueur{height : 45px; margin : 0;}
#infos_joueur li{display : inline; padding : 0 20px;}
#infos_joueur:first-child{}
#infos_joueur li img{background-color : white;}
#infos_joueur li span{display : inline-block;  text-transform : uppercase; vertical-align : middle;}
#infos_joueur a{display : inline-block;
width : 126px ;
height : 41px;
background : url('../images/module_enquete/btn_fight.png') no-repeat left top;
line-height : 41px;
vertical-align : middle;
text-align : center;
text-transform : uppercase;
color: white;
font-size : 1.2em;}
#infos_joueur a, #infos_joueur span{margin : -35px 10px 0 15px;}
#infos_joueur a:hover{background-position : left center;}
#infos_joueur a:active{background-position : left bottom;}
#level_joueur{background : url('../images/module_enquete/bg_barrePA.png') no-repeat -70px 0;}
#pa{background : url('../images/module_enquete/bg_barrePA.png') no-repeat -50px 0;}


#bio_perso{
	width : 735px;
	height : 444px;
	margin-left : 4px;
	background : url('../images/module_enquete/bg_bioPerso.png') no-repeat left top;}


#anderson, #montgomery, #oackley, #angeli, #jones, #roets, #maubriant, #miyamoto, #stanford{height : 444px;}

#affich_perso img{margin : 20px 0 0 25px;}
#affich_perso a{display : inline-block;
width : 114px;
height : 30px;
margin-right : 20px;
background : url('../images/module_enquete/btn_valider.png') no-repeat left top;
text-align : center;line-height : 30px;
vertical-align : middle;
color : white;
float : right;}
#affich_perso a:hover{cursor : pointer; color : #069; background-position : left center;}
#affich_perso a:active{color : white; background-position : left bottom;}
#affich_perso p{width : 315px;float : right; margin : 50px 25px 0 -5px; color : white; } 
#affich_perso span{text-transform : uppercase;font-size : 1.2em; font-weight : bold;}

#angeli p{margin : 50px 25px 0 -30px;}
#angeli a{margin-top : -50px;}
#roets a{margin-top : -70px;}
#maubriant a{margin-top : -50px;}
#oackley a{margin-top : -50px;}
#miyamoto a{margin-top : -50px;}
#anderson a{margin-top : 10px;}


#choix_perso
{position : absolute;
top : 12px;
right : 66px;
margin : 0;
}

#choix_perso button{ width : 34px;
height : 17px;
margin-left : 73px;
text-indent : -9999px;
border : none;
overflow : hidden;}


#prec{background : transparent url('../images/module_enquete/perso_prec.png') no-repeat center top ;}
#suiv{background : transparent url('../images/module_enquete/perso_suiv.png') no-repeat center top ;}
#choix_perso button:hover{background-position : center center;}
#choix_perso button:active{background-position : center bottom;}

#conteneur_perso{height : 402px;overflow : hidden;margin-top : 10px;}
#conteneur_perso ul{margin : 2px;}
#choix_perso li{height : 99px; margin : 2px 0 ; position : relative;}
#choix_perso a{
	width : 100%;
	display : block;
	position : absolute;
	left : 0;
	bottom : 0;
	color : white;
	height : 24px;
	line-height : 24px;
	vertical-align : middle;
	text-align : center;
	text-transform : uppercase;
	font-size : 0.9em;
	background : url('../images/module_enquete/bg_nomChoixPerso.png') no-repeat left top;}

/*----------------------FIN MODULE ENQUETE-------------------------*/
/*-------------------- FOOTER -------------------------------------*/
#footer{position : relative;clear : both;
width : 75%;
margin : 30px auto 10px auto;}
#footer li{display : inline;
padding : 0 10px;}

#footer a{color : #fff;
font-weight : bold;
cursor : pointer;
	text-decoration : underline;
}
#footer a:hover{color : #069;}


/*--------------------- FIN FOOTER -------------------------*/