# Mise en place de la ré-écriture 
Options +FollowSymLinks
Options +Indexes
RewriteEngine On

# Adresse de base de réécriture 
RewriteBase /

# Règles de ré-écriture
#RewriteRule admin/(.+)\.html$ /krysalis-the-game/admin/?page=$1&%{QUERY_STRING} [L]

RewriteRule ^([^/]+)\/([^/]+)\.html$ /krysalis-the-game/?module=$1&page=$2 [L]
RewriteRule ^([^/]+)\.html$ /krysalis-the-game/?page=$2 [L]
RewriteRule ^([^/]+)\/$ /krysalis-the-game/?module=$1&page=index [L]
